// start footer
.footer {
  background-color: $greyColor;
  @include spaceBetweenSections(20px);
  p {
    color: gray;
  }
  .footerContent {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .title {
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 20px;
    }
    .latest {
      align-content: space-between;
      width: 60%;
      .imgBox {
        display: flex;
        margin-bottom: 20px;
        .txtbox {
          padding: 15px 0px;
          margin-left: 20px;
          h3 {
            margin-bottom: 20px;
            color: $mainColor;
          }
          p {
            line-height: 1.6;
          }
        }
      }
    }
    .companyDetails {
      section {
        margin-bottom: 20px;
      }
    }
    .contactUs {
      display: flex;
      flex-direction: column;
      gap: 20px;
      input,
      textarea {
        border-radius: 10px;
        border: none;
        padding: 5px 8px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .line {
    width: 100%;
    margin: 10px 0px;
    height: 2px;
    background-color: gray;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
  }
}

// end footer
