.header {
  padding: 20px 0px;
  border-bottom: 1px solid $greyColor;
  .container {
    display: flex;

    align-items: center;

    @media #{$maxMedium} {
      flex-direction: column;

    }

  }

  .logo {
    width:100%;
    @media #{$maxMedium} {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    
    h1 {
      margin: 0px;
    }
    p {
    }
  }
  .navbar {
    width: 60%;
    display: flex;
    justify-content: space-around;
    background-color: $mainColor;
    border-radius: 6px;

    li {
      padding: 20px 10px;
      a {
        color: #fff;
        &:hover {
          color: $greyColor;
        }
      }
    }
  }
}
