* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  font-family: Tahoma;
  font-size: 16px;
}
html body {
  background-color: #f6f6f6;
}
html a {
  text-decoration: none;
  color: black;
}
html ul li, html ol li {
  list-style: none;
}

.headWithBorder {
  position: relative;
  margin: 30px 0px;
}
.headWithBorder h2 {
  text-align: center;
  background-color: #e2494c;
  width: 30%;
  margin: auto;
  color: #fff;
  padding: 8px 20px;
  font-weight: 400;
  border-radius: 10px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .headWithBorder h2 {
    padding: 0px;
  }
}
.headWithBorder h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  color: #9c9c9c;
  left: 0px;
  top: 50%;
  background-color: #9c9c9c;
  z-index: -1;
}

.mainButton {
  background-color: #e2494c;
  outline: none;
  border: none;
  padding: 10px 15px;
  color: #FFF;
  min-width: 120px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  padding: 20px 0px;
  border-bottom: 1px solid #9c9c9c;
}
.header .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .header .container {
    flex-direction: column;
  }
}
.header .logo {
  width: 100%;
}
@media (max-width: 991px) {
  .header .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
.header .logo h1 {
  margin: 0px;
}
.header .navbar {
  width: 60%;
  display: flex;
  justify-content: space-around;
  background-color: #e2494c;
  border-radius: 6px;
}
.header .navbar li {
  padding: 20px 10px;
}
.header .navbar li a {
  color: #fff;
}
.header .navbar li a:hover {
  color: #9c9c9c;
}

.slider {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
.slider blockquote {
  line-height: 1.6;
  text-align: center;
  font-weight: 500;
  color: #5e5e5e;
  margin-bottom: 20px;
  font-style: italic;
}
.slider img {
  width: 100%;
  height: 400px;
  padding: 0px 12px;
}
.slider .bullets {
  display: flex;
  justify-content: center;
}
.slider .bullets li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #5e5e5e;
  margin: 0px 4px;
  cursor: pointer;
}
.slider .bullets li.active {
  border: 2px solid black;
  background-color: #fff;
}

.services {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
.services .serviceContent {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .services .serviceContent {
    flex-direction: column;
  }
}
.services .serviceContent .serviceBox {
  width: 28.3333333333%;
}
@media (max-width: 767px) {
  .services .serviceContent .serviceBox {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
.services .serviceContent .serviceBox h3 {
  color: #666;
}
.services .serviceContent .serviceBox h3 i {
  margin-right: 10px;
  font-size: 30px;
}
.services .serviceContent .serviceBox p {
  margin: 10px 0px;
  color: #777;
  line-height: 1.7;
}
.services .serviceContent .serviceBox a {
  color: #e2494c;
}

.players {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
.players .playersContent {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .players .playersContent {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .players .playersContent {
    flex-direction: column;
  }
}
.players .playersContent .pBox {
  width: 18%;
}
@media (max-width: 767px) {
  .players .playersContent .pBox {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 991px) {
  .players .playersContent .pBox {
    flex-basis: 49%;
  }
}
.players .playersContent .pBox img {
  width: 100%;
}
.players .playersContent .pBox .title {
  margin: 15px 0px;
  color: #666;
}
.players .playersContent .pBox p {
  line-height: 1.7;
  margin-bottom: 20px;
}
.players .playersContent .pBox a {
  color: #e2494c;
  font-weight: bold;
  position: relative;
}
.players .playersContent .pBox a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #666;
  bottom: 0px;
  left: 0px;
  transition: 0.3s;
}
.players .playersContent .pBox a:hover::before {
  width: 100%;
}

.lorem {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
.lorem .loremContent {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .lorem .loremContent {
    flex-direction: column;
  }
}
.lorem .loremContent .loremBox {
  max-width: 30%;
}
@media (max-width: 767px) {
  .lorem .loremContent .loremBox {
    max-width: 100%;
  }
}
.lorem .loremContent .loremBox img {
  width: 100%;
}

.footer {
  background-color: #9c9c9c;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
.footer p {
  color: gray;
}
.footer .footerContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 767px) {
  .footer .footerContent {
    flex-direction: column;
  }
}
.footer .footerContent .title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}
.footer .footerContent .latest {
  align-content: space-between;
  width: 60%;
}
.footer .footerContent .latest .imgBox {
  display: flex;
  margin-bottom: 20px;
}
.footer .footerContent .latest .imgBox .txtbox {
  padding: 15px 0px;
  margin-left: 20px;
}
.footer .footerContent .latest .imgBox .txtbox h3 {
  margin-bottom: 20px;
  color: #e2494c;
}
.footer .footerContent .latest .imgBox .txtbox p {
  line-height: 1.6;
}
.footer .footerContent .companyDetails section {
  margin-bottom: 20px;
}
.footer .footerContent .contactUs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footerContent .contactUs input,
.footer .footerContent .contactUs textarea {
  border-radius: 10px;
  border: none;
  padding: 5px 8px;
}
.footer .footerContent .contactUs input:focus,
.footer .footerContent .contactUs textarea:focus {
  outline: none;
}
.footer .line {
  width: 100%;
  margin: 10px 0px;
  height: 2px;
  background-color: gray;
}
.footer .copyright {
  display: flex;
  justify-content: space-between;
}